body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
}

input[type=text], input[type=password] {
    padding: 10px;
    margin-bottom: 20px;
}

input[type=submit] {
    padding: 10px;
}
